@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background:url("./../images/bg.svg") no-repeat center center/cover;
}

.table-container{
    width: 82vw;
    height: 90vh;
    background-color: #fff5;

    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;
    overflow: hidden;
}

.table-header{
    width: 100%;
    height: 12%;
    background-color: #fff4;
    padding: .8rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.table-body{
    width: 95%;
    max-height: calc(89% - .8rem);
    background-color: #fffb;
    border-radius: .6rem;
    padding: .6rem;

    margin: .8rem auto;
    overflow: auto;
}

.table-body::-webkit-scrollbar{
    width: .5rem;
    height: .5rem;
}
.table-body::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.table-body:hover::-webkit-scrollbar-thumb{
    visibility: visible;
}



table{
    width: 100%;
}

thead th{
    position: sticky;
    top: 0;
    left: 0;
    background-color: #d5d1defe;
}



tbody tr:hover {
    background-color: #fff6;
}

.form{
    background-color: rgba(255, 255, 255, .07);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    border: 2px solid rgba(255, 255, 255, .1);
    box-shadow: 0 0 40px rgba(0, 0, 0, .6);
    padding: 50px 35px;
}

.form *{
    letter-spacing: .5px;
    color: #fff;
    outline: none;
    border: none;
}

.form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    margin-bottom: 30px;
}

.form .form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.form .form-group label{
    font-size: 16px;
    font-weight: 500;
}

.form .form-group input{
    padding: 10px 15px;
    border-radius: 5px;
    width: 100%;
    margin-top: 5px;
    background-color: rgba(255, 255, 255, .07);
    font-size: 14px;
    font-weight: 300;
}

.btn{
    margin: 40px 0 20px;
    padding:  12px 24px;
    background-color: rgba(255, 255, 255, 0.651);
    color: #080710;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    backdrop-filter: blur(20px);
}

.card{
    background-color: rgba(255, 255, 255, .07);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    border: 2px solid rgba(255, 255, 255, .1);
    box-shadow: 0 0 40px rgba(0, 0, 0, .6);
    padding: 50px 35px;
    position: relative;
    color: #999999;
}

.card-img{
    width:120px;
    height: 120px;
    /* position: absolute; */
    margin: 0 auto;
    
}

.card-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.desc{
    width: 100%;
}

.desc h1{
    text-align: center;
    color: #d5d5d5;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.7px;
    margin: 5px 0;
}

.parents, .enfants{
    margin: 20px 0;
}

.enfants{
    margin-bottom: 4rem;
}
.parents h2, .enfants h2{
    display: block;
    color: #d5d5d5;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 2px solid #d5d5d5;


}

